body  {
    background-image: url("/ChrisKyle-IOD/mini-project-1/resources/oyo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

h1  {
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    text-shadow: 1px 1px #ffffff;
    color:rgba(0, 0, 0, 0.75);
    margin-bottom: 12px;
}

/* CSS code relating to the Navbar section */

.nav_bar  {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 120%;
}
.nav_icons  {
    /* width: 50%; */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav_icons li  {
    margin: 0px;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 0px;
}

.nav_icons li a  {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.nav_icons li a:hover  {
    font-weight: bolder;
}

.nav_icons li a:visited  {
    font-weight: bold;
}

.nav_title  {
    padding: 16px 0px;
    width:10%;
    font-size: 1.25rem;
    font-weight: 500;
    border: 2px solid transparent;
}

.nav_button  {
    width: 20%;
    border: 2px solid black;
}

.nav_bar ul li ul  {
    display: none;
    margin-top: 14px;
}

.nav_bar ul li ul li  {
    float: none;
    display: block;
    width: 120px;
    padding: 6px;
    display: block;
    border: 2px solid black;
    background-color:rgba(255, 255, 255, 0.5);
}

.nav_bar ul li:hover > ul  {
    position: absolute;
    display: block;
}

.nav_search  {
    height:auto;
    align-self: center;
    float: right;
    margin: 5px;
}

#search_query  {
    width: 65%;
    height: 40px;
    border-radius: 5px 0 0 5px;
    border: 2px solid lightgrey;
    font-size: 1rem;
}

.search_button  {
    background-color:  rgba(255, 255, 255, 0.5);
    height: 40px;
    width: 30%;
    border-radius: 0 5px 5px 0;
    border: 2px solid grey;
    color: grey;
    font-size: 1rem;
}

/* CSS code relating to the center section of the page
 */

.center_page  {
    margin: 5% 15%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    color: white;
}

#username, #password  {
    font-size: 1rem;
    width: 15%;
}

.gender_select  {
    margin: 5% 40%;
}

.login_button  {
    background-color: rgba(0, 180, 0, 1); 
    color: rgba(255, 255, 255, 1);
    border: 2px solid black;
    padding: .5rem .25rem;
}

.male  {
    text-align: left;
}

.nope  {
    text-align: right;
}

.disclaimers_title  {
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    margin-top: 15px;
}

.disclaimers  {
    background-color: white;
    text-align: left; 
    color: black; 
    margin: 5% 20% 2% 20%;
    padding: 4px;
}

.disclaimers_text  {
    line-height: 1.5rem;
    margin: 5%;
}

.disclaimers_center  {
    background-color: rgba(125, 125, 255, 1);
    margin: 5%;
    padding: 3% 2%;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    line-height: 2rem;
}


    @media only screen and (max-width:1280px)  {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    }


    @media only screen and (min-width:1281px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    }